<a href="https://colab.research.google.com/github/koko6693/HelloWorld/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%B6%80%ED%8A%B8%EC%BA%A0%ED%94%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#라이캣의 개인정보 입력하기

이름 ='캣'
설명 = '위니브 월드 외각에 살고 있는 생선가게 주인 캣(cat)'
나이 = 10
오늘_잡은_물고기 = '10'
키 = '45cm'
몸무게 = 1.2
육식 = True
초식 = True
돈 = 1000
훈장 = []
기술 = ['고기잡이', '고기팔기']

'''
라이캣의 개인정보입니다.
성장함에 따라 해당 값이 변합니다.

주의) 마음대로 성장시키지 마세요!
'''

'\n라이캣의 개인정보입니다.\n성장함에 따라 해당 값이 변합니다.\n\n주의) 마음대로 성장시키지 마세요!\n'

In [2]:
이름
나이
print(이름)
print(나이)

캣
10

In [3]:
나이 = 11
나이

11

In [4]:
나이 = 나이 + 1

In [5]:
나이

12

## 변수의 규칙

1. 변수 중간에 띄어쓰기를 하지 않습니다.
띄어쓰기를 명시하고 싶으실 때에는 언더스코어(`_`)를 사용하세요!
2. 첫 글자는 숫자나 특수문자를 쓰지 않습니다.
물론 언더스코어(`_`)제외입니다.
3. 첫 글자를 대문자로 쓰지 않습니다. (Class가 대문자로 쓰기 때문이지만 대문자로 써도 실행됩니다.)
4. 예약어를 사용하지 않습니다. 예를 들어 뒤에 `print` 구문이 나오는데요. 이러한 함수명이나 구문은 변수명으로 사용하지 않습니다.
5. 변수명은 대소문자를 가립니다! `Apple`과 `apple`은 다른 변수가 됩니다.

In [6]:
오늘_잡은_물고기

'10'

In [9]:
오늘_잡은_물고기 + 1

TypeError: ignored

In [10]:
int(오늘_잡은_물고기) + 1

11

In [11]:
print(type(오늘_잡은_물고기))

<class 'str'>

In [12]:
print(type(이름)) #'캣'
print(type(나이)) # 현재 12
print(type(오늘_잡은_물고기)) #현재 10
print(type(몸무게))
print(type(육식)) #True
print(type(기술)) #['고기잡이', '고기팔기']

<class 'str'>
<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>
<class 'list'>

1. <class 'str'> - string, 문자열 
2. <class 'int'> - integer, 정수형
3. <class 'float'> - float, 실수형
4. <class 'bool'> - bool, boolean, 참거짓형
5. <class 'list'> - list, 배열

In [13]:
# 1. int

print(type(나이))
print(dir(나이))

<class 'int'>
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [14]:
나이 = 10
print(나이.bit_length())
print(bin(나이))

나이_90년_후 = 100
print(나이_90년_후.bit_length())
print(bin(나이_90년_후))

4
0b1010
7
0b1100100

In [15]:
# 1.2 float

print(몸무게)
print(type(몸무게))
print(dir(몸무게))

print(몸무게 + 10)

1.2
<class 'float'>
['__abs__', '__add__', '__bool__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getformat__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__int__', '__le__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__pos__', '__pow__', '__radd__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rmod__', '__rmul__', '__round__', '__rpow__', '__rsub__', '__rtruediv__', '__set_format__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', 'as_integer_ratio', 'conjugate', 'fromhex', 'hex', 'imag', 'is_integer', 'real']
11.2

In [16]:
# 2. str
#시퀀스(순서가 있는)형 자료형

# index, indexing
print(설명)
print(설명[0])
print(설명[1])
print(설명[2])
print(기술)
print(기술[0])
print(기술[1])

# print(설명)
# print(설명)

위니브 월드 외각에 살고 있는 생선가게 주인 캣(cat)
위
니
브
['고기잡이', '고기팔기']
고기잡이
고기팔기

In [17]:
# slicing
# 변수이름[start:stop:step]
print(설명)
print(설명[0:3])
print(설명[0:6])
print(설명[0:9])

위니브 월드 외각에 살고 있는 생선가게 주인 캣(cat)
위니브
위니브 월드
위니브 월드 외각

In [18]:
캣의_생년월일 = '2220.02.22'
생년 = 캣의_생년월일[:4]
월 = 캣의_생년월일[5:7]
일 = 캣의_생년월일[8:]
생년, 월, 일

('2220', '02', '22')

In [19]:
숫자 = '123456789101112'
print(숫자[::-1])
print(숫자[::2])
print(숫자[1:7:2])
print(숫자[7:1:-1])
print(숫자[-1])

211101987654321
13579012
246
876543
2

In [20]:
print(설명)
print(type(설명))
print(dir(설명))
'''
'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
'''

위니브 월드 외각에 살고 있는 생선가게 주인 캣(cat)
<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

"\n'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']\n"

In [21]:
숫자.count('1')
설명.upper()
설명.lower()
'             hello world'.lstrip()
'             hello world'.strip()
'             hello world'.replace(' ', '!')
설명.index('각')
설명[설명.index('각')]
설명.find('각')
설명[설명.find('각')]

'각'

In [22]:
# bool

육식 = True
초식 = True
print(type(육식))
print(dir(육식))

<class 'bool'>
['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

## 1.llst

1. 순서가 있습니다.
2. 수정이 가능합니다.
3. 순회가 가능합니다.
4. 값의 중복을 허락합니다.

In [23]:
# listm tuple, dict, set

훈장 = []
기술 = ['고기잡이', '고기팔기']
print(type(기술))
print(dir(기술))
'''
'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort'
'''

<class 'list'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

"\n'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort'\n"

In [24]:
잡은물고기 = ['광어', '고등어', '오징어', '오징어', '광어',
              '광어', '고등어', '고등어', '백상아리', '금붕어']
print(잡은물고기[0])
print(잡은물고기[0:3])
print(잡은물고기[0:7:2])
잡은물고기[-1] = '백상아리'

광어
['광어', '고등어', '오징어']
['광어', '오징어', '광어', '고등어']

In [25]:
잡은물고기.count('백상아리')
잡은물고기.append('백상아리')
잡은물고기
# 잡은물고기.clear()
# 잡은물고기.copy()

['광어', '고등어', '오징어', '오징어', '광어', '광어', '고등어', '고등어', '백상아리', '백상아리', '백상아리']

In [26]:
잡은물고기.extend(['광어', '고등어', '고등어'])
잡은물고기

['광어',
 '고등어',
 '오징어',
 '오징어',
 '광어',
 '광어',
 '고등어',
 '고등어',
 '백상아리',
 '백상아리',
 '백상아리',
 '광어',
 '고등어',
 '고등어']

In [27]:
잡은물고기.index('백상아리')
잡은물고기.insert(3,'백상아리')
잡은물고기
잡은물고기.pop() #pop안에 index를 넣어 지울 수 있습니다.
# del 잡은물고기[0] - 0번째 삭제
잡은물고기

['광어',
 '고등어',
 '오징어',
 '백상아리',
 '오징어',
 '광어',
 '광어',
 '고등어',
 '고등어',
 '백상아리',
 '백상아리',
 '백상아리',
 '광어',
 '고등어']

In [28]:
# 잡은물고기.remove('백상아리')
# 잡은물고기
잡은물고기.insert(8,'백상아리')
잡은물고기

['광어',
 '고등어',
 '오징어',
 '백상아리',
 '오징어',
 '광어',
 '광어',
 '고등어',
 '백상아리',
 '고등어',
 '백상아리',
 '백상아리',
 '백상아리',
 '광어',
 '고등어']

In [29]:
잡은물고기.reverse()
잡은물고기

['고등어',
 '광어',
 '백상아리',
 '백상아리',
 '백상아리',
 '고등어',
 '백상아리',
 '고등어',
 '광어',
 '광어',
 '오징어',
 '백상아리',
 '오징어',
 '고등어',
 '광어']

In [30]:
잡은물고기.sort()
잡은물고기

['고등어',
 '고등어',
 '고등어',
 '고등어',
 '광어',
 '광어',
 '광어',
 '광어',
 '백상아리',
 '백상아리',
 '백상아리',
 '백상아리',
 '백상아리',
 '오징어',
 '오징어']

## 2. tuple

1. 순서가 있습니다.
2. 값의 변화를 줄 수 없습니다.

In [31]:
잡은물고기_튜플 = ('고등어',
 '고등어',
 '고등어',
 '고등어',
 '광어',
 '광어',
 '광어',
 '광어',
 '백상아리',
 '백상아리',
 '백상아리',
 '오징어',
 '오징어')

print(type(잡은물고기_튜플))
print(dir(잡은물고기_튜플))

잡은물고기_튜플[0]
잡은물고기_튜플[::-1]

<class 'tuple'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

('오징어',
 '오징어',
 '백상아리',
 '백상아리',
 '백상아리',
 '광어',
 '광어',
 '광어',
 '광어',
 '고등어',
 '고등어',
 '고등어',
 '고등어')

## 3. 딕셔너리

1. 순서가 없습니다.
2. 키 값의 중복을 허락하지 않습니다.
3. 값의 중복은 가능합니다.
4. 순회는 가능합니다.

In [32]:
# Dictionary의 구조
# dic = { 'key' : 'value' }

잡은물고기_딕셔너리 = {'광어' : 4, '고등어' : 4, '오징어' : 2, '백상아리' : 3}

In [33]:
잡은물고기_딕셔너리['광어']
del 잡은물고기_딕셔너리['고등어']
잡은물고기_딕셔너리

{'광어': 4, '오징어': 2, '백상아리': 3}

In [34]:
print(type(잡은물고기_딕셔너리))
print(dir(잡은물고기_딕셔너리))

<class 'dict'>
['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [35]:
잡은물고기_딕셔너리.items()

dict_items([('광어', 4), ('오징어', 2), ('백상아리', 3)])

In [36]:
잡은물고기_딕셔너리.values()

dict_values([4, 2, 3])

In [37]:
잡은물고기_딕셔너리.keys()

dict_keys(['광어', '오징어', '백상아리'])

In [38]:
잡은물고기_딕셔너리_복사 = 잡은물고기_딕셔너리.copy()
잡은물고기_딕셔너리_복사['백상아리'] = 10
잡은물고기_딕셔너리_복사

{'광어': 4, '오징어': 2, '백상아리': 10}

In [39]:
잡은물고기_딕셔너리

{'광어': 4, '오징어': 2, '백상아리': 3}

In [40]:
# 잡은물고기_딕셔너리_복사 -> {'광어': 4, '오징어': 2, '백상아리': 3}
# 잡은물고기_딕셔너리 -> {'광어': 4, '오징어': 2, '백상아리': 5}

## 4. set

1. 순서가 없습니다.
2. 값의 중복을 허락하지 않습니다.
3. 차집합, 교집합, 합집합 등의 연산이
가능합니다.

In [41]:
잡은물고기

['고등어',
 '고등어',
 '고등어',
 '고등어',
 '광어',
 '광어',
 '광어',
 '광어',
 '백상아리',
 '백상아리',
 '백상아리',
 '백상아리',
 '백상아리',
 '오징어',
 '오징어']

In [42]:
test = set(잡은물고기)
test

{'고등어', '광어', '백상아리', '오징어'}

In [43]:
잡은물고기_집합 = {'고등어', '광어', '대왕오징어'}
잡은물고기_집합

{'고등어', '광어', '대왕오징어'}

In [44]:
print(type(잡은물고기_집합))
print(dir(잡은물고기_집합))
test.difference(잡은물고기_집합)
test.intersection(잡은물고기_집합)
test.union(잡은물고기_집합)

<class 'set'>
['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

{'고등어', '광어', '대왕오징어', '백상아리', '오징어'}

In [45]:
set('aaabbc')

{'a', 'b', 'c'}

## 형변환

* 기존 type에서 다른 type으로 변환

In [46]:
'10' + '10'

'1010'

In [47]:
int('10') + int('10')

20

In [48]:
오늘_잡은_물고기_수 = '371'

오늘_잡은_물고기_수 = int(오늘_잡은_물고기_수) + 10
오늘_잡은_물고기_수

381

In [50]:
int('kimsungjae')

ValueError: ignored

In [51]:
s = '98710%'
print(s[:-1] * 2)
print(int(s[:-1]) * 2)

9871098710
197420

In [52]:
print("bool('test') : ", bool('test!!'))
print("bool(1) : ", bool(1))
print("bool(0) : ", bool(0))
print("bool(-1) : ", bool(-1))
print("bool(' ')  :", bool(' '))
print("bool('') : ", bool(''))
print("bool(None) : ", bool(None))

bool('test') :  True
bool(1) :  True
bool(0) :  False
bool(-1) :  True
bool(' ')  : True
bool('') :  False
bool(None) :  False

In [53]:
print(f'bool([1,2,3]) : {bool([1,2,3])}')
print(f'bool([]) : {bool([])}')

bool([1,2,3]) : True
bool([]) : False

In [54]:
tuple([1,2,3])

(1, 2, 3)

In [55]:
t = (1,2,3)
list(t)

[1, 2, 3]

In [56]:
dict([('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')])

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [57]:
x = int(input('좋아하는 숫자를 입력하세요 : '))
x + x
# print(type(x))
# print(dir(x))

좋아하는 숫자를 입력하세요 : 10

20

In [58]:
print('hello', end='!!')
print('hello', end='!!')
print('hello', end='!!')
print('hello', end='!!')

hello!!hello!!hello!!hello!!

In [59]:
print('1. 제 이름은 ', 이름, '입니다. 제 나이는 ', 나이, '입니다.')
print(f'2. 제 이름은 {이름}입니다. 제 나이는 {나이}입니다.') #중요
print('1. 제 이름은 {}입니다. 제 나이는 {}입니다.'.format(이름, 나이))
print('4. 제 이름은 %s입니다. 제 나이는 %d입니다'%(이름, 나이))

1. 제 이름은  캣 입니다. 제 나이는  10 입니다.
2. 제 이름은 캣입니다. 제 나이는 10입니다.
1. 제 이름은 캣입니다. 제 나이는 10입니다.
4. 제 이름은 캣입니다. 제 나이는 10입니다

# 2장 생선을 잡아라!

## 2.1 산술연산자

In [60]:
오늘_잡은_물고기 = 0
오늘_판_물고기 = 0
매출 = 0

In [61]:
오늘_잡은_물고기 = 오늘_잡은_물고기 + 10
오늘_판_물고기 = 오늘_잡은_물고기
재고 = 오늘_잡은_물고기 - 오늘_판_물고기
매출 = 오늘_판_물고기 * 100 #모든 물고기는 100원 입니다.

In [62]:
print(f'나는 오늘 {오늘_잡은_물고기} 마리를 잡았고 {오늘_판_물고기} 마리를 팔았다냥')
print(f'오늘 재고는 {재고} 마리다냥!')
# 매일 2배씩 성장하는 것을 목표로 삼았습니다.
print(f'오늘 {매출} 원을 벌었으니 내일은 {매출*2} 원을 벌테다!')
print('오늘', 매출, '원을 벌었으니 내일은', 매출*2, '원을 벌테다!')

나는 오늘 10 마리를 잡았고 10 마리를 팔았다냥
오늘 재고는 0 마리다냥!
오늘 1000 원을 벌었으니 내일은 2000 원을 벌테다!
오늘 1000 원을 벌었으니 내일은 2000 원을 벌테다!

In [63]:
# A등급 :1000원, B등급 : 500원, C등급 :100원
# 오늘 잡은 물고기 : A등급 5마리, B등급 7마리, C등급 10마리

등급별_가격 = {'A등급':1000, 'B등급':500, 'C등급': 100}

A등급 = 5
B등급 = 7
C등급 = 10
매출 = 0

In [64]:
# 손님의 주문
# A등급 2마리, B등급 3마리 주세요.
# 받은 돈 = 4000원

A등급 = A등급 - 2
B등급 = B등급 - 3
합계 = (등급별_가격['A등급'] * 2) + (등급별_가격['B등급'] * 3)
받은_돈 = 4000

print(f'감사합니다. 여기 거스름 돈 {받은_돈 - 합계}원 입니다.')

재고 = A등급 + B등급 + C등급
매출 = 매출 + 합계
print(f'현재매출 : {매출}, 재고 : {재고}')

감사합니다. 여기 거스름 돈 500원 입니다.
현재매출 : 3500, 재고 : 17

In [65]:
세금 = 매출/4
순익 = 매출 - 세금

매출, 세금, 순익

(3500, 875.0, 2625.0)

In [66]:
# 산술연산자 정리
10 + 10
10 - 10
10 / 3 #float
10 // 3 #int(몫만 출력)
10 * 3
3 ** 3
10 % 3

1

In [69]:
오늘_잡은_물고기 += 10 #할당연산
오늘_잡은_물고기

40

In [70]:
# 비교연산자

오늘_잡은_물고기
오늘_판_물고기     

#비교연산 True or False 출력

print(오늘_잡은_물고기 > 오늘_판_물고기)
print(오늘_잡은_물고기 < 오늘_판_물고기)
print(오늘_잡은_물고기 >= 오늘_판_물고기)
print(오늘_잡은_물고기 <= 오늘_판_물고기)
print(오늘_잡은_물고기 == 오늘_판_물고기) #값, 타입
print(오늘_잡은_물고기 != 오늘_판_물고기)
# print(오늘_잡은_물고기 === 오늘_판_물고기) #javascript, 값, 타입

True
False
True
False
False
True

In [71]:
if 오늘_잡은_물고기 > 오늘_판_물고기 :
    print('아직 물고기를 다 팔지 않았습니다.')

아직 물고기를 다 팔지 않았습니다.

In [72]:
# 논리연산자

# True + False
a = True
b = False 

a and a # 논리 곱(*)
a and b

a or a # 논리 합(+)\
a or b

not a

False

In [75]:
오늘_잡은_물고기 = 10
오늘_판_물고기 = 10
전날_매출 = 10000
오늘_매출 = 20000

if (오늘_잡은_물고기 == 오늘_판_물고기)  and (전날_매출*2 <= 오늘_매출):
    print('오늘 물고기 판매 끝!')
    print('매출 목표 달성!')
else :
    print('오늘의 목표를 달성하지 못했습니다.')

오늘 물고기 판매 끝!
매출 목표 달성!

In [76]:
x = 10

if x % 3 == 0 and x % 5 == 0:
    print('3과 5의 공배수입니다.')
else:
    print('3과 5의 공배수가 아닙니다.')

3과 5의 공배수가 아닙니다.

In [77]:
# 비트연산자

a = 10
b = 2

print(a & b)

2

In [78]:
bin(10), bin(2)

('0b1010', '0b10')

In [79]:
# 1010
# 0010
# ----
# 0010  -> 2

In [80]:
print(b << 2)

# 10 -> 2
# 1000 -> 8

8

In [82]:
print(b >> 1)

# 10 -> 2
# 1 -> 1

1

In [85]:
a^b
# 1010 (10)
# 0010 (2)
# ----
# 1000 ---> 8

8

In [86]:
~a

-11

In [87]:
bin(a), bin(~a) # 2의 보수 표현 방법

('0b1010', '-0b1011')

In [92]:
# 비트연산, 할당연산, 식별연산, in 구문

10 + 10

20

In [93]:
bin(10 + 10)

'0b10100'

In [96]:
a = 40
b = 14
a & b #bit AND

# 101000
# 001110
# 001000

# bin(a), bin(b)

8

In [95]:
a = 40
b = 14
a | b #bit OR

# 101000
# 001110
# 101110

# bin(a), bin(b)

46

In [98]:
a = 40
b = 14
a ^ b #bit XOR : 다를 때만 1, 같은 때에는 0

# 101000
# 001110
# 100110

# bin(a), bin(b)

38

In [99]:
a = 40
~a #bit NOT(2의 보수)

# 101000
# 010111 #비트단위를 뒤짚었음!
# 011000 #비트단위를 뒤짚고 +1한 값

# 101000
# 010111
# 000000

# 1. 0을 2개로 표현하지 않아도 됨!
# 2. 더했을 경우 올림수 하나만 버리면 됨!

-41

In [101]:
a = 40
print(bin(a))
print(int('10100000', 2))
print(a << 2)

print(bin(a))
print(int('1010', 2))
print(a >> 2)

0b101000
160
160
0b101000
10
10

In [104]:
# '연산자' + '='
a = 40

# a += 10 # a = a + 10
# a -= 5  # a = a - 5
# a *= 5
# a **= 5
# a /= 5
# a //= 5
# a %= 5
# a |= 5
a >>= 2
a
# a <<= 5
# a ~= 5

10